
    ViewData["Title"] = "Результаты";
}

<h2>Результаты ввода</h2>

<p>Идентификатор: @ViewBag.Id</p>
<p>Название: @ViewBag.Name</p>
<p>Доступен: @ViewBag.IsAvailable</p>
<p>Жанр: @ViewBag.Genre</p>
<p>Описание: @ViewBag.Description</p>
