@model sasha_2.Models.Cinema

@{
    ViewData["Title"] = "Добавление кинотеатра";
}

<h1>@ViewData["Title"]</h1>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.EditorFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.EditorFor(m => m.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfHalls)
        @Html.EditorFor(m => m.NumberOfHalls)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EstablishedYear)
        @Html.EditorFor(m => m.EstablishedYear)
    </div>
    <div class="form-buttons">
        <button class="btn btn-primary" type="submit">Добавить кинотеатр</button>
    </div>
}
